@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: white;
}

.group {
  display: none;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ffc107;
  border-radius: 1em;
}
